table.ordermain, table.history {
width: 100%;
border-collapse: collapse;
margin-bottom: 20px;
}

table.orderadress, table.orderproduct {
width: 48%;
border-collapse: collapse;
margin-bottom: 20px;
}

table.ordermain > tbody > tr > th, table.orderadress > tbody > tr > th, table.list > thead > tr > th, table.history  > tbody > tr > th, table.form > tbody > tr > th{
background: #115B8B;
color: #FFFFFF;
font-size: 14px;
font-weight: 700;
padding: 5px;
}

table.ordermain > tbody > tr > td{
width:25%;
}

table.ordermain > tbody > tr > td:nth-child(odd), table.orderadress > tbody > tr > td:nth-child(odd){
background:#EFEFEF
}

table.ordermain > tbody > tr > td, table.orderadress > tbody > tr > td  {
padding: 5px;
color: black;
border-bottom: 1px dotted #CCC;
}
.clr {
clear:both;
}