.n-spolier {
	
	text-align: center;
	
	
}
.n-spolier td {
	font-size: 18px;
	height: 40px;
	background: #cccccc !important;
}
.last-tr {
	text-align: center;
}
.filter_category_id {width: 50px;}
.pagination .links li {
	list-style: none;
	display: inline-block;
}